* {
  font-size: 15px;
  font-weight: normal;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', '微軟正黑體', Helvetica,
    Arial, sans-serif;
  line-height: 1.5;
  color: #564739;
  outline: none;
}

a{
  color: #564739;
}

a:hover{
  color: #3e3328;
}

a:hover .card-img-top>img{
  transform: scale(1.2)  translateX(-42%);
}

body, .bg-brown{
  background-color: #F7F5F3;
}

.btn-search, .btn-primary{
  color: #fff;
  background-color: #564739;
  border: 1px solid #564739;
}

.btn-search:hover, .btn-search:active, .btn-search:focus,
.btn-primary:hover, .btn-primary:not(:disabled):not(.disabled):active, .btn-primary:focus{
  color: #fff;
  background-color: #3e3328;
  border: 1px solid #3e3328;
}

.card{
  border: 1px solid #cccccc;
  box-shadow:3px 3px 5px #cccccc;
}

h1, h5 {
  color: #FAC674;
  font-weight: bold;
}

.page-link{
  color: #6c757d;
}

.page-item.active .page-link{
  background-color: #6c757d;
  border-color: #6c757d;
}

.page-link > span{
  line-height: 1.25;
}