* {
  font-size: 15px;
  font-weight: normal;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', '微軟正黑體', Helvetica,
    Arial, sans-serif;
  line-height: 1.5;
  color: #564739;
  outline: none;
}

a:hover{
  color: #564739;
}

a:hover .card-img-top>img{
  transform: scale(1.2)  translateX(-42%);
}

body, .bg-brown{
  background-color: #F7F5F3;
}

.btn-search{
  color: #fff;
  background-color: #564739;
  border: 1px solid #564739;
}

.card{
  border: 1px solid #cccccc;
  box-shadow:3px 3px 5px #cccccc;
}

h1, h5 {
  color: #FAC674;
  font-weight: bold;
}